main {
  background: linear-gradient(to top, #90e0ef, #0096c7);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  min-height: 80vh;
  width: 80%;

  border-radius: 2rem;
}
